<odoo>
  <data noupdate="1">




    <!-- Forzar que todas las compañías usen esta acción como home_action -->
    <function model="res.company" name="write"
              eval="[(c.id, {'home_action': ref('action_feedbio_dashboard')}) for c in env['res.company'].search([])]"/>

    <!-- Forzar que todos los usuarios usen esta acción como action_id -->
    <function model="res.users" name="write"
              eval="[(u.id, {'action_id': ref('action_feedbio_dashboard')}) for u in env['res.users'].search([])]"/>

  </data>
</odoo>
